@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Single Column
	3.2 - Partial Columns
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Utility
	5.3 - Text Sizes
	5.4 - Spacing
	5.5 - Alignments
6.0 - Flex
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */

body, blockquote footer p {
	font: 300 1.4rem 'Oswald', sans-serif;
}

/*--------------------------------------------------------------
1.1 - Headings
-------------------------------------------------------------- */
h1 {
	padding-top: 20px;
}

h2 {
	border-bottom: 2px solid #000;
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: .7rem;
}

h3 {
	letter-spacing: .2rem;
}

#products h2 {
	border-bottom: 2px solid #FFF;
	}
	
h4 {
	font-size: 1.5rem;
	font-weight: 400;
}

.p-b-lg.lt-blue-bg h4 {
	background-color: #000;
	padding: 10px 80px;
}
	
/*--------------------------------------------------------------
1.2 - Body Copy
-------------------------------------------------------------- */

#white-transparent p {
	display: table; 
	vertical-align: text-top;
}

#hero-img p:first-of-type, blockquote footer p, #products p, h3 {
	font-weight: 300;
}

#hero-img p:first-of-type {
	letter-spacing: .12rem;
}

#hero-img p:first-of-type, #newsletter span, h3 {
	font-size: 2rem;
}

#hero-img p:nth-of-type(2), #hero-img p:nth-of-type(3) {
	margin-bottom: 0;
}

#hero-img p:nth-of-type(2) {
	border-bottom: 5px solid #000;
	font-size: 7rem;
	margin-top: -30px;
}

#hero-img p:nth-of-type(3) {
	font-size: 1.9rem;
	line-height: 0rem;
}

blockquote {
	padding: 0 100px;
}

#products a:active, #contact form a:active, blockquote p, .white-products-bg {
	background-color: #FFF;
}

blockquote p {
	font: 700 2.8rem/4.4rem 'Playfair Display', serif;
	letter-spacing: .3rem;
}

blockquote footer p {
	font-size: 2.2rem;
	margin-top: -40px;
}

blockquote footer p, #products p.txt-center.txt-uppercase, h4 {
	letter-spacing: .2rem;
}

h2 + p:first-child {
	padding: 0 100px;
}

footer p {
	display: inline-block;
	font-size: 1rem;
	text-align: right;
}

footer img {
	margin-left: 30px;
}

#newsletter span, #products p.txt-center.txt-uppercase, #hero-img p:nth-of-type(2), #hero-img p:nth-of-type(3) {
	font-weight: 700;
}

#products p.txt-center.txt-uppercase {
	font-size: 1.2rem;
}

#newsletter p {
	margin-right: 50px;
}

/*--------------------------------------------------------------
1.3 - Buttons
-------------------------------------------------------------- */

.btn {
	background-color: #231F20;
	color: #D0D2D3;
	padding: 10px 70px;
}

a {
	text-decoration: none;
}

#hero-img .txt-lft.p-b-lg a:hover, #products a[href="_blank"]:hover {
	color: #A6A8AB;
}

#hero-img a:visited, #products #products a[href="_blank"] {
	color: #000;
}

#products a:hover, #contact form a:hover {
	background-color: #A6A8AB;
}

#products a:active, #contact form a:active {
	border: 1px solid #231F20;
	color: #231F20;
}

#hero-img a[href="#products"] {
	border: 1px solid #231F20;
	padding: 10px 30px;
}

#hero-img a[href="#products"]:hover {
	background-color: rgba(166, 168, 171, 0.5);
	border: 1px solid #231F20;
}

#hero-img a[href="#products"]:hover, #newsletter a, #hero-img a[href="#products"] {
	color: #231F20;
}

#newsletter a {
	background-color: #A6A8AB;
	margin: 0 10px 0 -20px;
	padding: 9px 75px;
}

#newsletter a:hover, #hero-img a[href="#products"]:active {
	background-color: #231F20;
	border: 1px solid #FFF;
}

/*--------------------------------------------------------------
1.4 - Forms
-------------------------------------------------------------- */

label {
	display: none;
}

#newsletter input {
	height: 50px;
	width: 70%;
}

textarea, #contact input {
	width: 100%;
}

#newsletter form {
	margin-top: -40px;
}

/*--------------------------------------------------------------
1.5 - Lists
-------------------------------------------------------------- */

#contact ul {
	padding-left: 0;
}

#sprites li {
	padding-right: 25px;
}

#sprites li a {
	background-position: 0 0;
	height: 45px;
	width: 45px;
}

#sprites li:first-child a:hover, #sprites li:nth-child(2) a:hover, #sprites li:last-child a:hover {
	background-position: 0 -45px;
}

/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */

/*--------------------------------------------------------------
2.1 - Main Menu
-------------------------------------------------------------- */

nav ul {
	padding-left: 0;
}

nav li {
	padding-right: 40px;
}

nav li:last-child {
	margin-right: 0;
}

nav a, #newsletter a:hover, #hero-img a[href="#products"]:active, #products a:hover, #contact form a:hover {
	color: #FFF;
}

nav a:hover {
	border-bottom: 2px solid #FFF;
}

nav a:active {
	border-bottom: 2px solid #C5D8D8;
	color: #C5D8D8;
}

/*--------------------------------------------------------------
3.0 - SITE STRUCTURE
-------------------------------------------------------------- */

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border;
	box-sizing: border-box;
}

.wrapper, figure, #hero-img p:first-of-type, .center-block, #hero-img .col-1-3 {
	margin: 0 auto;
}

.wrapper {
	width: 80%;
}

.row:after {
	content: " ";
	display: table;
	clear: both;
}

img {
	max-width: 100%;
}

[class*="col-"] {
	float: left;
}

[class*="col-"]:last-of-type {
	float: left;
	padding-right: 0;
}

section {
	margin: 10px 0;
}

#products figure {
	max-width: 90%;
}

#products .row {
	margin: 20px 0;
}

.col-1-6.center-block img {
	vertical-align: middle;
}

#map {
	height: 200px;
	margin-right: 70px;
	width: 85%;
}

figure {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
	margin: 0 auto;
}

#white-transparent {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 60px 80px;
}

#newsletter p, #sprites li:first-child a, #sprites li:nth-child(2) a, #sprites li:last-child a, #hero-img span, #hero-img p:nth-of-type(2), #hero-img p:nth-of-type(3), #hero-img p, h2, #newsletter a {
	display: inline-block;
}

nav li, #sprites li, address, #newsletter p:last-of-type, .p-b-lg.lt-blue-bg h4 {
	display: inline;
}

.col-1-6.center-block img, #contact label, #contact input, #newsletter p, h1 {
	display: block;
}

.col-1-2.about-info:first-child {
	padding-right: 30px;
}

.col-1-2.about-info:last-child {
	padding-left: 30px;
}

#products .col-1-3 {
	margin: 30px 0;
}

footer {
	padding: 20px 0;
}

#newsletter {
	padding: 20px 80px;
}

#contact p:first-child, #contact, #about {
	margin-bottom: 70px;
}

.white-products-bg {
	padding: 20px 0;
}

#products .col-1-2 {
	padding: 15px 40px;
}

#contact .col-4-6 {
	padding: 0 100px;
}

/*--------------------------------------------------------------
3.1 - SINGLE COLUMNS
-------------------------------------------------------------- */

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

/*--------------------------------------------------------------
3.2 - PARTIAL COLUMNS
-------------------------------------------------------------- */

.col-2-3 {
	width: 66.66%;
}

.col-4-6 {
	width: 83.33%;
}

.col-5-12 {
	width: 41.65%;
}

/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */

#hero-img {
	background: url(../img/img-hero.jpg);
	background-position: 0 30%;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment:fixed;
	background-repeat: no-repeat;
	margin-top: 0;
	padding: 150px 0;
}

#sprites li:first-child a {
	background-image: url(../img/icon-facebook.png);
}

#sprites li:nth-child(2) a {
	background-image: url(../img/icon-twitter.png);
}
#sprites li:last-child a {
	background-image: url(../img/icon-google-plus.png);
}

/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */

/*--------------------------------------------------------------
5.1 - Background Colors
-------------------------------------------------------------- */


.lt-blue-bg {
	background-color: #C5D8D8;
}

.drk-gry-bg {
	background-color: #231F20;
}

/*--------------------------------------------------------------
5.2 - Text Colors
-------------------------------------------------------------- */

.white-txt {
	color: #FFF;
}

.drk-gry-txt {
	color: #414042;
}

.md-gry-txt {
	color: #A6A8AB;
}

/*--------------------------------------------------------------
5.3 - TEXT UTILITY
-------------------------------------------------------------- */
.txt-uppercase, h2, h3, h4, label, form p {
	text-transform:uppercase;
}

.txt-center, h1, h2, h3, #hero-img .col-1-3, blockquote, #products, #about header {
	text-align: center;
}

.txt-lft {
	text-align: left;
}

/*--------------------------------------------------------------
5.4 - SPACING
-------------------------------------------------------------- */

.p-t-md {
	padding-top: 20px;
}

.p-t-lg {
	padding-top: 50px;
}

.p-b-md {
	padding-bottom: 20px;
}

.p-b-lg {
	padding-bottom: 50px;
}

.m-t-0 {
	margin-top: 0;
}

.m-t-md {
	margin-top: 20px;
}

/*--------------------------------------------------------------
5.5 - ALIGNMENTS
-------------------------------------------------------------- */

.center-block {
	float: none !important;
}

.push-right, #about col-1-2:nth-child(2) {
	float: right !important;
}

.push-left, #about .col-1-2:first-child  {
	float: left;
}

/*--------------------------------------------------------------
6.0 - Flex
-------------------------------------------------------------- */

.flex {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-moz-flex-direction: row;
    -o-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
	
.about-info {
	align-content:center;
	display: flex;
	flex-direction:column;
    justify-content:center;
}









@media screen and (max-width: 480px) {
	
/*--------------------------------------------------------------
1.0 - Typography
-------------------------------------------------------------- */

  body {
	  font-size: 1.1rem;
  }
	
/*--------------------------------------------------------------
1.1 - Headings
-------------------------------------------------------------- */

  h2 {
	  font-size: 2.2rem;
  }
  
  h2, h3, h4, #hero-img p:first-of-type {
	  letter-spacing: .2rem;
  }
  
  h3 {
	  font-size: 1.5rem;
  }
  
  h4 {
	  font-size: 1.2rem;
  }
  
  .p-b-lg.lt-blue-bg h4 {
	  padding: 10px 2px;
	}

  #hero-img p {
	  font-size: 1.4rem;
	  letter-spacing: .1rem;
  }

  #hero-img p:nth-of-type(2) {
	  font-size: 3.5rem;
  }
   
  #hero-img .col-1-3  {
	  padding-left: 0;
  }
	  
/*--------------------------------------------------------------
1.2 - Body Copy
-------------------------------------------------------------- */

  #hero-img p:first-of-type {
	  margin: 0 auto;
  }
	
  #hero-img p:nth-of-type(2) {
	  font-size: 5rem;
	  margin: -20px 0 0 0;
  }
	
  #hero-img p:nth-of-type(3) {
	  line-height: .25rem;
  }
  
  #hero-img p:first-of-type, #hero-img p:nth-of-type(3), blockquote p {
	  font-size: 1.5rem;
  }
  
	
  blockquote {
	  padding: 0;
  }
  
  blockquote, #newsletter form {
	  margin: 0;
  }
	
  blockquote p {
	  line-height: 2.7rem;
  }
	
  blockquote footer p {
	  font-size: 1.4rem;
  }
  
  blockquote p, blockquote footer p {
	  letter-spacing: .1rem;
  }
	
  #newsletter p, #newsletter a {
	  margin-right: 0;
  }
  
  #contact .col-4-6, .col-1-2.about-info:first-child, .col-1-2.about-info:last-child {
	  padding: 0;
}
	
  footer p {
	  font-size: .8rem;
	  margin-top: 0;
  }
  
  #about {
	  text-align: center;
  }

/*--------------------------------------------------------------
1.3 - Buttons
-------------------------------------------------------------- */  
	 	
  #newsletter a {
	  padding: 12px 28px;
	  float: right;
  }
	
  #newsletter a:hover {
	  padding: 11px 28px;	
  }
	
/*--------------------------------------------------------------
1.4 - Forms
-------------------------------------------------------------- */
  
  #newsletter input {
	  width: 75%;
	  height: 50px;
	  float: left;
  }	
  
  #newsletter form {
	  padding-bottom: 20px;
  } 
  
/*--------------------------------------------------------------
1.5 - Lists
-------------------------------------------------------------- */
  
  footer li {
	  display: block;
	  text-align: left;
	  margin-bottom: 8px;
  }	  
	
/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */

/*--------------------------------------------------------------
2.1 - Main Menu
-------------------------------------------------------------- */

  nav li {
	  font-size: .85rem;
	  padding-right: 10px;
  }
  
/*--------------------------------------------------------------
3.1 - Single Column
-------------------------------------------------------------- */

  #hero-img .col-1-3 {
	  width: 100%;
  }
  
  .col-1-2, .col-1-3 {
	  width: 100%;
  }
  
  footer .col-1-3 {
	  width: 50%;
  }
	
/*--------------------------------------------------------------
3.2 - Partial Columns
-------------------------------------------------------------- */

  #newsletter .col-2-3 {
	  width: 100%;
  }
	
/*--------------------------------------------------------------
3.0 - SITE STRUCTURE
-------------------------------------------------------------- */

  #about .about-img:last-child {
	  display: none;
  }
  
  #white-transparent {
	  padding: 60px 20px;
  }
  
  #newsletter {
	  padding: 10px 0 100px;
  }
  
  footer nav {
	  margin-right: -40px;
	  width: 15%;
  }
  
  #map {
	  margin-top: 50px;
	  width: 100%;
  }
  

/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */

   #hero-img {
	padding: 50px 0;
   }

/*--------------------------------------------------------------
6.0 - Flex
-------------------------------------------------------------- */
  
  .flex {
	-moz-flex-direction: column;
	-o-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	display: flex;
	-webkit-display: flex;
	overflow: hidden;
	margin-bottom: 20px;
  }
  
  
  .flex .col-1-2:first-child {
	-webkit-box-ordinal-group: 2;
	-moz-box-ordinal-group: 2;
	-ms-box-ordinal-group: 2;
	-o-box-ordinal-group: 2;
	-ms-flex-order: 2;
	-moz-order: 2;
	-o-order: 2;
	-webkit-order: 2;
	order: 2;
  }
  
  .flex .col-1-2:last-child {
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-ms-box-ordinal-group: 1;
	-o-box-ordinal-group: 1;
	-ms-flex-order: 1;
	-webkit-order: 1;
	-moz-order: 1;
	-o-order: 1;
	order: 1;
  }
  
  #contact .row {
	 display: flex;
	 flex-direction: column-reverse;
	}

}